<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Product detail</title>
</head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/}">Back to product list</a>
</p>
<div id="detail">
    <div>
        <label>Name</label>
        <label th:text="${blog.name}"></label>
    </div>
    <div>
        <label>Brand</label>
        <label th:text="${blog.brand}"></label>
    </div>
    <div>
        <label>Name</label>
        <label th:text="${blog.price}"></label>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>