<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify blog</title>
</head>
<body>
<h2>Modify blog</h2>
<p>
    <a href="/blogs">Back to blog list</a>
</p>
<th:block th:if="${message}">
    <span th:text="${message}"></span>
</th:block>
<form th:action="@{/edit-blog}" th:object="${blog}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td><label for="content">Content:</label> </td>
            <td><textarea id="content" th:field="*{content}"></textarea> </td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select name="category">
                    <option th:each="ca:${categorize}"
                        th:value="${ca.id}"
                            th:text="${ca.name}"
                            th:selected="(${ca.id}==*{category.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="UPDATE"></td>
        </tr>
    </table>
</form>
</body>
</html>